
<ul>
  <li>{{link-to 'react' 'org.repo.issues' 'react'}}</li>
  <li>{{link-to 'react-native' 'org.repo.issues' 'react-native'}}</li>
  <li>{{link-to 'watchman' 'org.repo.issues' 'watchman'}}</li>
</ul>

{{outlet}}
