<h2>My Favorite Orgs</h2>

<ul>
  <li>{{link-to 'JQuery' 'org.repos' 'jquery'}}</li>
  <li>{{link-to 'Ember' 'org.repos' 'emberjs'}}</li>
  <li>{{link-to 'Netflix' 'org.repos' 'netflix'}}</li>
</ul>

{{outlet}}
