<h2>My Favorite Orgs</h2>

<ul>
  {{#each content as |org|}}
  <li>
    <span {{action 'favoriteClicked' org}} >
      [ Favorite ]
    </span>
    {{link-to org.id 'org' org.id}}
  </li>
  {{/each}}

</ul>

{{outlet}}
